/* Increased horizontal padding for better spacing */
.container {
  padding-left: 10% !important;
  padding-right: 10% !important;
}


.enterprise {
  position: relative;

}

.data-engineer {
  width: 100%;
  min-height: 600px;
  height: 100vh;
  max-height: 800px;
  object-fit: cover;
}

.contact {
  background-color: blue;
  color: white;
  padding: 5px 12px;
  border-radius: 6px;
  font-weight: 500;
  border: 1px solid blue;
}

/* .logo-main {
  width: 38px;
  height: 24px;
  margin-top: 17px;
  margin-right: 12px;
} */
.logo-text {
  margin-top: 10px;
}


.expertise {
  margin-left: 42px;
}

.slide {
  width: 100%;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: black;
}

.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 24px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.social ul li {
  display: inline-block;
  padding-right: 6px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

.bg-color {
  background-color: #1a4ab9;
  height: 418px;
  padding: 60px 0px 0px 0px;
}

.expertcardbody {
  background-color: #1a4ab9;
  border-radius: 10px 10px 0px 0px !important;
  height: fit-content;
  padding: 67px;
}

/* .card {
  border-radius: 10px !important;
} */
.title {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.question {
  color: white;
}

.fa-envelope {
  color: white;
}

.hello {
  margin: 10px;
}

.bg-white {
  padding-top: 30px;
  border-radius: 13px 13px 0px 0px;
}

.name {
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-us-2 {
  width: 100%;
  /* margin-top: 16px; */
  background-color: #0046e8;
  color: white;
  border: 1px solid blue;
  padding: 5px;
  font-weight: 500;
  padding: 10px 6px;
  border-radius: 8px;
}

.clearfix {
  clear: both;
}

.footer-heading {
  color: #0046e8 !important;
}

.cloud-head {
  text-align: center;
  font-weight: 700;
}

.box {
  margin: 0px !important;
}

.arrow {
  width: 35px;
  height: 35px;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 108px;
}

.arrowtext {
  font-size: 14px;
  text-align: left;
  justify-content: center;
}

.box-padding {
  padding: 30px 24px;
  /* box-shadow: 2px 2px 35px -18px #323c8d; */
  border-radius: 20px;
  margin: 25px 0px;
  min-height: 380px;
}


.card-body1 {
  background-color: #1a4ab9;
  border-radius: 10px 10px 0px 0px !important;
  height: 327px;
  padding: 67px;
}