body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500;700&display=swap');

  color: #2B2B2B;
}

.MuiTypography-root {
  color: #2B2B2B;
}

code {
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 1280px) {
  .MuiContainer-maxWidthLg {
    max-width: calc(100% - 100px) !important;
  }

  .container {
    max-width: calc(100% - 100px) !important;
  }
}